.app-button {
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &:hover {
    transition: all ease-in 4ms;
    filter: brightness(0.9);
  }
}

.sign-in-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--borderRadiusBtn);
  padding: 0 12px;
  font-size: 13px;
  font-weight: 500;
  width: 80px;
  height: 29px;
  background: var(--systemBlueDefault);
  color: var(--systemWhite);
}

.subscribe-btn {
  width: 240px;
  height: 48px;
  padding: 0 16px 0 16px;
  background-color: var(--systemWhite);
  border-radius: var(--borderRadiusBtn);
  font-weight: 600;
  font-size: 1rem;
  color: var(--systemBlackDefault);
  text-transform: uppercase;
}

.continue-btn {
  width: 100%;
  max-width: 320px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 14px;
  background-color: var(--systemBlueDefault);
  color: var(--systemWhite);
  border-radius: var(--borderRadiusBtn);
}

.free-trial-btn {
  width: 100%;
  max-width: 154px;
  height: 28px;
  background-color: var(--systemWhite);
  font-size: 12px;
  font-weight: 600;
  color: var(--systemBlackDefault);
  padding: 0 10px;
  border-radius: 4px;
}
